a {
  color: black;
}
header {
  padding: 92px 49px 75px 51px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
}

.header__menu {
  display: flex;
  min-width: 388px;
  color: black;
  margin: 0 209px 0 0;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__links_active {
  text-decoration: none;
  margin: 0 4px 0 0;
}

.header__links-list {
  display: flex;
  gap: 13px;
  justify-content: space-between;
}

.header__links-list-iteam {
  list-style: circle;
  margin-right: 4px;
}

.address {
  display: flex;
  font-style: normal;
  font-family: "Raleway", "Arial", sans-serif;
  min-width: 240px;
  font-size: 18px;
  font-weight: 400;
  line-height: 135%;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}

.header__address {
  align-content: start;
  margin: 0 0 0 75px;
}
 
.header__logo {
  height: 104.65px;
  max-width: 147px;
  justify-content: center;
  margin: 0 355px 20px 0;
}

.cover {
  position: relative;
  background-image: url(../images/cover.jpg);
  background-position: right center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1440px;
  z-index: 0;
  padding: 165px 50px 50px 50px;
}
    
.cover__title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 100px;
  font-weight: 700;
  font-family: "Raleway", "Arial", sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: white;
  margin: 0 0 135px 0;
  letter-spacing: 30px;
}
  
.overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}
  

.aligned-text {
  display: flex;
  justify-content: start;
  line-height: 115%;
  z-index: 2;
}
  
.aligned-text_center {
  display: flex;
  justify-content: center;
  line-height: 100%;
  z-index: 2;
}
  
.aligned-text_right {
  justify-content: end;
  text-align: right;
  line-height: 100%;
  z-index: 2;
}
  
.letter-spacing {
  letter-spacing: 0.3em;
}

.letter-spacing-extended {
  letter-spacing: 0.4em;
}

.no-letter-spacing {
  letter-spacing: initial;
}
  
.cover__description {
  display: flex;
  justify-content: flex-end;
  gap: 78px;
  z-index: 2;
}
  
.cover__description-text {
  display: flex;
  font-size: 22px;
  color: white;
  font-family: "Raleway", "Arial", sans-serif;
  justify-content: space-between;
  text-transform: uppercase;
  max-width: 633px;
  line-height: 28px;
  font-weight: 400;
  z-index: 2;
  word-spacing: 17px;
  margin: 12px 0 0 0;
}

button {
  max-width: 257px;
  max-height: 52px;
  padding: 12px 32px 12px 32px;
  background-color: transparent;
  align-self: end;
  z-index: 2;
  border: 1px solid white;
  text-transform: uppercase;
}

.bet-button {
  color: white;
  font-size: 22px;
  font-family: "Raleway", "Arial", sans-serif;
  z-index: 2;
  font-weight: 400;
}

.lots {
  max-width: 1340px;
  margin-top: 180px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 181px;
  display: flex;
  flex-direction: column;
}

.lots_heading {
  margin: 0 0 27px 40px;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  color: #fff;
  gap: 25px;
  flex-wrap: wrap;
}

.card-link {
  text-decoration: none;
  min-height: 450px;
  flex-grow: 1;
  width: 430px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 100%;
  min-height: 450px;
  max-height: 100%;
  padding: 50px 40px 50px 40px;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 0;
  background-repeat: no-repeat;
}

.card__title {
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  text-decoration-line: underline;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
  color: white;
  font-family: "Raleway", "Arial", sans-serif;
  word-wrap: break-word;
}

.card__text {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  position: relative;
  z-index: 2;
  color: white;
  font-family: "Raleway", "Arial", sans-serif;
  word-wrap: break-word;
}

.card_type_film {
  background-image: url('../images/card-lot-01.jpg');
}

.card_type_book {
  background-image: url('../images/card-lot-02.jpg');
}

.card_type_picture {
  background-image: url('../images/card-lot-03.jpg');
}

.lots__look-more-link {
  display: block;
  margin: 30px 0 0 40px;
  font-size: 20px;
  font-weight: 400;
  color: black;
}

.about {
  padding: 0 0 180px 50px;
  max-width: 1340px;
  margin: 0;
}

.about__column {
  display: grid;
  grid-template-columns: 430px 1fr;
  grid-template-rows: repeat(2, auto);
  column-gap: 25px;
}

.about__logo {
  grid-row: 1/2;
  grid-column: 1/2;
  width: 240px;
  height: 240px;
  background-color: #000;
  border-radius: 50%;
  justify-self: center;
}

.about__logo-image {
  margin: 63px 46px;
  max-width: 148px;
  max-height: 114px;
}

.about__title {
  grid-row: 1/2;
  grid-column: 2/3;
  color: #000;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  align-self: center;
  margin: 101px 0;
}

.about__text {
  grid-row: 2/3;
  grid-column: 2/3;
  color: #000;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  word-wrap: break-word;
}

.about__text p:first-child {
  margin-bottom: 25px;
}

.footer {
  margin: 0px 50px 90px 50px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-size: 18px;
  font-weight: 400;
  max-width: 1340px;
 }
 
.footer__menu {
  display: flex;
  max-width: 149px;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: black;
}

.footer__menu-list-item {
  text-decoration: underline;
  text-underline-position:under;
  list-style: none;
}

.footer__menu-link_active {
  text-decoration: none;
}
  
.footer__social-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  max-width: calc(1340px - 1100px);
  gap: 48px;
}

.footer__social-list-item {
  list-style: none;
  display: flex;
}

.footer__menu-list {
  align-items: center;
}

.footer__social-icon_youtube {
  background-image: url('../images/yt.svg');
}

.footer__social-icon_vk {
  background-image: url('../images/vk.svg');
}

.footer__social-icon_pinterest {
  background-image: url('../images/pinterest.svg');
}

.footer__social-icon_saiz {
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
